body{
  margin: 0;
  padding: 0;
  margin-top: 0;
  background-color: #e8f4f8 ;

}


header {
  background-color: #faffd1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 3px solid black;
}

.header-brand {
  margin-left: 30px;

}

.header-brand-text{
  text-decoration: none;
  color: black;
}

.main-navigation{
  displaY: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.test {
  width: 100%;
}

.nav-item{
  text-decoration: none;
  font-size: 20px;
  background-color: yellow;
  width: 100%;
  margin: auto;
  line-height: 100px;
  text-align: center;
  color: black;

}

.nav-item:hover{
   color: white;
   background-color: gray;

}

.Home{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-bottom: 1px solid black;
}


.Home h1 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: auto;

}

.Home p{
  grid-column: 2/3;
  grid-row: 2/3;
}


.NewsList{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-bottom: 1px solid black;
}


.NewsList h1 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: auto;

}

.NewsList ul{
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
}

.LoginForm{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 50px 50px 50px 100px;
  border-bottom: 1px solid black;
}


.LoginForm h1 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: auto;

}




.form {
  grid-column: 2/4;
  grid-row: 2/3;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  box-sizing: border-box;
}



 .form-submit{

  height: 70px;
  width: 50%;
  font-size: 20px;
}


.form-item input{
width: 99%;
height: 40px;
border-radius: 10px;
border: none;
box-shadow: 1px 3px 3px black;

}


.form-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-item p{
  color: red;
}
